# Ignore node_modules folder
node_modules/

# Ignore IDE and editor files
.vscode/
.idea/
.editorconfig

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore gitignore backups
*.gitignore~

# Ignore local development environment files
.env